@import url(reset.css);

.image-to-show {
  width: 400px;
  height: 400px;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dark {
  background-color: #000;
}

.light {
  background-color: #fff;
}
